.score-panel {
    float: right;
    font-size: 16px;
    margin-top: 20px;
    position: absolute; 
    z-index: 3;
    margin-left: 30px;
}

.score-panel label {
    display: inline;
    float: left;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.score-panel label .progress {
    width: 100px;
float: left;
margin-left: 13px;
margin-bottom: 0px;
height: 25px;
}

#score {
    margin-right: 20px;
}